version: "2"
services:

  db:
    image: postgres:latest
    container_name: ekko_db
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
        POSTGRES_USER: {{ POSTGRES_USER }}
        POSTGRES_PASSWORD: {{ POSTGRES_PASSWORD }}
        POSTGRES_DB: {{ POSTGRES_DB }}
    restart: on-failure
    ports:
      - '5432:5432'
    networks:
      enetwork:
        aliases:
          - dbhost


  manage:
    image: katakowl/ts3ekkomanage
    container_name: ekko_manage
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ HOST_SEED_DIRECTORY }}:/mnt/fixtures/
    environment:
{% for key in ekkomanage_dc_envvar %}
      {{ key }}: '{{ ekkomanage_dc_envvar[key] }}'
{% endfor %}

    restart: on-failure
    ports:
      - '8180:8180'
    networks:
      - enetwork
    links:
      - "db:dbhost"

networks:
  enetwork:

volumes:
  db-data:

